*.py[co]
*.sw[po]
*.egg*
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.mo
*.log
*.db
.vagrant
*.sublime-project
*.sublime-workspace
media/*
staticfiles/
*.pyc
*.swp
*.egg-info
build
dist
.coverage
nosetests.xml
lettucetests.xml
coverage.xml
ghostdriver.log
.harvest
pep8.report
*env/
*.sqlite
.vagrant
*python3/
*.vscode/
dist/
node_modules/
typings/
.env
0*.py
media/
usr/
.idea/
vendors/